@charset "UTF-8";

:root {
    --main-color: rgb(174, 194, 250);
    --sub-color: rgb(174, 228, 250);
}

body {
    background-color: #ffffff;
    color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

.flex {
    display: flex;
}

.justb {
    justify-content: space-between;
}

.justc {
    justify-content: center;
}

.alinc {
    align-items: center;
}

.wrap {
    max-width: 1000px;
    margin: auto;
    position: relative;
}

/* header */
header {
    width: 200px;
    height: 100%;
}

nav {
    width: 200px;
}

nav a {
    display: block;
}

nav li.mainmenu {
    position: relative;
    text-align: center;

}

nav li.mainmenu>a {
    padding: 10px;
}

nav li.mainmenu:hover>a {
    background: var(--main-color);
    font-weight: bold;
}

nav ul.submenu a {
    padding: 5px;
    color: rgb(1, 87, 145);
}

nav ul.submenu li:hover a {
    background: var(--sub-color);
    font-weight: bold;
}


nav ul.submenu {
    width: 100%;
    display: none;
}

main {
    width: 800px;
    margin: auto;
}


/* slide-container */
.slide-container {
    height: 350px;
    position: relative;
    overflow: hidden;
}

.slide-wrap {
    position: relative;
}

.slide {
    position: relative;
}

.summary {
    position: absolute;
    left: 10%;
    top: 30%;
    background: rgba(1, 33, 80, 0.9);
    color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
}



/* contents */
.contents {
    height: 200px;
    margin-top: 10px;
}

.contents>div {
    width: 33%;
}

.tabmenu li.on a {
    background: var(--main-color);
    color: rgba(1, 33, 80, 0.9);
}

.tabmenu li {
    background: #eee;
}

.tabmenu a {
    display: block;
    padding: 10px 15px;
    text-align: center;
}

.tabs {
    height: calc(200px - 41px);
    position: relative;
}

.tab {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    display: none;
    background: var(--main-color);
    padding: 5px;
}

.notice li {
    display: flex;
}

.notice li a {
    display: block;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notice li {
    padding: 8px
}

.notice li:hover {
    background: #eee;
    color: rgb(1, 87, 145);
}

.gallery ul {
    gap: 7px;
    padding: 20px 0;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

.tab.on {
    display: block;
}



.banner {
    background: url(../image/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner h4,
.link h4 {
    position: absolute;
    right: 5%;
    top: 5%;
    color: rgb(1, 33, 53);
}


.link {
    background: url(../image/link.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



/* footer */
footer {
    height: 100px;
}
.bottom-menu{
    text-align: center;

}
.bottom-menu ul{
    gap: 10px;
    padding-bottom: 5px;
}
/* popup */
.popup {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(234, 238, 252, 0.9);
    padding: 30px 40px;
    border-radius: 10px;
    display: none;
}

a.close {
    position: absolute;
    right: 0;
    bottom: -50px;
    background: rgba(1, 33, 80, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}