@charset "UTF-8";

body {
    background-color: #ffffff;
    color: #666666;
}

:root {
    --main-color: rgb(188, 202, 221);
    --sub-color: rgb(211, 196, 230);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

.flex {
    display: flex;
}

.justb {
    justify-content: space-between;
}

.justc {
    justify-content: center;
}

.alinc {
    align-items: center;
}

/* header */
header {
    max-width: 1340px;
    height: 100px;
    margin: auto;
}

nav {
    width: 60%;
    margin-right: 20px;
    align-self: flex-end;
}

nav a {
    display: block;
    text-align: center;
}

nav ul {
    gap: 7px;
}

nav li.main_menu {
    flex: 1;
    position: relative;
}

nav li.main_menu>a {
    padding: 10px;
}

nav li.main_menu:hover>a {
    background: var(--main-color);
    font-weight: bold;
    color: #240174;
}

nav ul.sub_menu a {
    padding: 7px;
    color: #2f0a6b;
}

nav ul.sub_menu li:hover a {
    background: var(--sub-color);
    font-weight: bold;
}

nav ul.sub_menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 5;
    background-color: rgba(248, 240, 201, 0.9);
}



/* slide_container */
.slide_container {
    width: 100%;
    height: 350px;
    overflow: hidden;

}

.slide_wrap {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.slide_1 {
    background-image: url(../image/slide\ 1.jpg);
}

.slide_2 {
    background-image: url(../image/slide\ 2.jpg);
}

.slide_3 {
    background-image: url(../image/slide\ 3.jpg);
}

.summary {
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(30, 1, 54, 0.7);
    color: #ffffff;
    padding: 30px;
}

.slide_text {
    max-width: 1340px;
    margin: auto;
}

/* container */
.container {
    max-width: 1340px;
    margin: auto;
    margin-top: -140px;
    position: relative;

}

.link {
    max-width: 1340px;
    margin: auto;
    background: rgba(243, 233, 252, 0.5);
}

.link li {
    padding: 20px;
}

.link li img {
    border-radius: 10px;
}

.link p {
    text-align: center;
    color: #2f0a6b;
    padding-top: 10px;
    padding-right: 30px;
}

.banner {
    width: 100%;
    height: 130px;
}

.banner .banne_box {
    width: 70%;
}

.banne_box img {
    width: 100%;
    height: 100%;
}

.banner_title {
    padding-left: 20px;
}

.banner_title h3 {
    font-size: 18px;
    color: #240174;
    padding-bottom: 10px;
}

.arrow {
    width: 35px;
    height: 35px;
}

.tab_list li {
    background-color: #cecdcd;
    width: 84px;
    text-align: center;
}

.tab_list li.on {
    background: var(--sub-color);
    font-weight: bold;
    color: #2f0a6b;
}

.tab_list li a {
    display: inline-block;
    padding: 10px;
}

.tabs {
    width: 50%;
    height: 200px;
    position: relative;
}

.tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: var(--sub-color);
    padding: 10px;
    overflow: hidden;

}

.tab.on {
    display: block;
}

.notice li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666666;
}

.notice li a {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice li:hover {
    background-color: #ffffff;
    color: #2f0a6b;
    font-weight: bold;
}

.gallery li {
    width: 30%;
    padding: 10px;
}

.gallery img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gallery figcaption {
    color: #2f0a6b;
    padding: 5px;
    text-align: center;
}

/* footer */
footer {
    max-width: 1340px;
    height: 120px;
    margin: auto;
}

footer h2 {
    width: 200px;
}

footer .foot_menu {
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
}

.foot_list {
    padding-bottom: 10px;
}

.foot_list ul {
    gap: 10px;
}


/* popup */
.popup {
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #9c9ff7;
    color: #2f0a6b;
    padding: 40px 50px;
    border-radius: 10px;
    line-height: 1.5;
    display: none;
}

.popup h3 {
    text-align: center;
    padding-bottom: 15px;
}

a.close {
    position: absolute;
    right: 0;
    bottom: -48px;
    background-color: #2f0a6b;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}