@charset "UTF-8";

:root {
    --body-bg-color: #ffffff;
    --bg-font-color: #333333;
    --main-color: rgb(233, 212, 253);
    --sub-color: rgb(181, 223, 250);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

.flex {
    display: flex;
}

.justb {
    justify-content: space-between;
}

.justc {
    justify-content: center;
}

.alinc {
    align-items: center;
}

.wrap {

    position: relative;
}

header{
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e5e6;
}

.headerinner {
    max-width: 1200px;
    margin: auto;
    height: 100px;
}

nav {
    width: 60%;
    margin-right: 15px;
    align-self: flex-end;
}

nav a {
    display: block;
    color: rgb(62, 0, 119);
}

nav li.mainmenu {
    position: relative;
    flex: 1;
    text-align: center;
}

nav li.mainmenu a {
    padding: 10px;
}

nav li.mainmenu:hover>a {
    background: var(--main-color);
    font-weight: bold;
    color: rgb(62, 0, 119);
}

nav ul.submenu a {
    padding: 5px;
    color: #1a1919;
}

nav ul.submenu li:hover a {
    background: var(--sub-color);
    font-weight: bold;
    color: rgb(2, 33, 100);
}

nav ul.submenu {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    z-index: 5;
}

/* slide */
.slidecontainer {
    max-width: 1200px;
    margin: auto;
    height: 300px;
    overflow: hidden;
}

.slidewrap {
    height: 300px;
    position: relative;
}

.slide {
    position: relative;
}

.summary {
    position: absolute;
    left: 5%;
    top: 20%;
    background: rgba(233, 212, 253, .7);
    color: rgb(35, 1, 66);
    padding: 20px 30px;
    border-radius: 10px;
}

/* container */
.container {
    max-width: 1200px;
    margin: auto;
    height: 200px;
    margin-top: 10px;
}

.container>div {
    width: 33%;
}

.notice {
    background: var(--sub-color);
    padding: 10px;
    border-radius: 10px;
}

.notice h4 {
    padding-bottom: 10px;
}

.notice li {
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.notice li a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
}

.notice li:hover a {
    color: rgb(2, 52, 109);
    font-weight: bolder;
}

.gallery {
    background: var(--sub-color);
    padding: 10px;
    border-radius: 10px;
}

.gallery h4 {
    padding-bottom: 5px;
}

.gallery img {
    height: 155px;
    border-radius: 10px;
    opacity: .7;
    transition: opacity 0.5s  ;
}

.gallery img:hover{
    opacity: 1;
}
.banner {
    position: relative;
}

.banner figcaption {
    position: absolute;
    right: 5%;
    top: 10%;
    color: white;
}

.banner img {
    border-radius: 10px;
}

/* footer */
footer{
    border-top: 1px solid #d6d6d6;
    margin-top: 15px;
}

.footeriner {
    max-width: 1200px;
    margin: auto;
    height: 100px;

}
.sns ul{
    gap: 15px;
}

.sns li {
    width: 40px;
}


.popup {
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(233, 212, 253, .9);
    color: rgb(21, 0, 41);
    padding: 20px 30px;
    border-radius: 10px;
    display: none;
}

a.close {
    position: absolute;
    right: 0;
    bottom: -20%;
    background: rgba(21, 0, 41, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}