* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	vertical-align: top;
}

:root {
	--body-bg-color: #fff;
	--body-font-color: #333333;
	--main-color: #fda2a2;
	--sub-color: #fcf2bf;

}

body {
	background-color: var(--body-bg-color);
	color: #333333;
}

.flex {
	display: flex;
}

.justb {
	justify-content: space-between;
}

.justc {
	justify-content: center;
}

.aline {
	align-items: center;
}

.wrap {
	width: 1200px;
	height: 100%;
	margin: auto;
}

/* header */
header {
	width: 100%;
	height: 100px;
}

header h1 {
	width: 200px;
	height: 40px;
}

header h1 img {
	width: 100%;
	height: 100%;
}

header nav {
	width: 60%;
	margin-right: 20px;
}

header nav a {
	display: block;
}

header nav ul {
	gap: 5px;
}

header nav ul li.main-menu {
	flex: 1;
	text-align: center;
	position: relative;
}

header nav ul li.main-menu a {
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px solid var(--main-color);
	color: var(--main-color);
}


header nav ul li.main-menu ul.submenu {
	display: none;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 42px;
	display: none;
	width: 100%;
}

header nav ul li.main-menu.on ul.submenu {
	display: block;
}

header nav ul li.main-menu:hover ul.submenu li a {
	color: #ff950a;
	font-weight: bold;
}

header nav ul li ul.submenu li a {
	background-color: var(--sub-color);
	color: #333333;
	font-weight: lighter;
	padding: 10px;

}





/* slide-container */
.slide-container {
	width: 100%;
	height: 300px;
}

.slide-wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide {
	position: relative;
}

.summary {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	background-color: rgba(254, 137, 137, 0.4);
	color: #8a0202;
	padding: 20px;
}

/* container */
.container {
	width: 100%;
	height: 200px;
}

.tab-list {
	width: 33%;
}

.tabmenu a {
	background-color: #b3b0b0;
	padding: 10px;
}

.tabmenu li.on a {
	background-color: var(--main-color);
	color: #8a0202;
	font-weight: bold;
}

.tabmenu a {
	display: block;
}

.tabs {
	position: relative;
	height: calc(100% - 41px);
	padding: 10px;
	background-color: #fecfcf;
	overflow: hidden;
}

.tab {
	display: none;
}


.notice li {
	padding: 5px;
}

.notice li {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-bottom: 7px;
	border-bottom: 1px solid #8a0202;
}

.notice li:hover a {
	font-weight: bold;
	color: #8a0202;
}

.tab.on {
	display: block;
}

.gallery ul {
	gap: 5px;
	height: 100%;
}

.gallery ul li {
	padding: 7px 5px;
}

.gallery ul li img {
	border-radius: 10px;
	width: 100%;

}

.banner,
.link {
	width: 33%;
	position: relative;
}

.banner figcaption,
.link figcaption {
	position: absolute;
	color: white;
	right: 3%;
	top: 5%;
}

.banner img,
.link img {
	width: 100%;
	border-radius: 10px;
}


/* footer */
footer {
	width: 100%;
	height: 100px;
}

footer h2 {
	width: 200px;
	height: 40px;
}

footer h2 img {
	width: 100%;
}

.copyright {
	text-align: center;
	width: 60%;
}

footer .sns {
	width: 10%;
}

footer .sns ul {
	gap: 10px;
}

footer .sns li {
	width: 45px;
	height: 45px;
}

footer .sns li a img {
	width: 100%;
	border-radius: 5px;
}


.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(254, 137, 137, 0.7);
	padding: 20px 30px;
	width: 350px;
	border-radius: 10px;
	display: none;
}

.popup h4 {
	color: #8a0202;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}

.popup p {
	color: white;
}

.popup a.close {
	position: absolute;
	right: 0;
	bottom: -45px;
	background-color: rgba(143, 1, 1, 0.8);
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
}