@charset "UTF-8";

:root {
    --body-bg-color: #ffffff;
    --body-font-color: #333333;
    --main-color: rgb(218, 146, 247);
    --sub-color: rgb(127, 250, 213);
}

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

/* 공통 css */
.flex {
    display: flex;
}

.alinec {
    align-items: center;
}

.justb {
    justify-content: space-between;
}

.justc {
    justify-content: center;
}

.wrap {
    position: relative;
    width: 1200px;
    margin: auto;
}

.linb {
    border-bottom: 1px solid #ccc;
}

/* header */
header {
    height: 100px;
    background-color: var(--sub-color)
}

h1 {
    width: 200px;
    text-align: center;
}

/* nav */
nav {
    width: 60%;
    margin-right: 20px;
}

nav a {
    display: block;
}

nav li.mainmenu {
    flex: 1;
    text-align: center;
    position: relative;
}

nav li.mainmenu>a {
    padding: 10px;
}

nav li.mainmenu:hover>a {
    background-color: #fff;
}

nav ul.submenu li a {
    padding: 5px;
}

nav ul.submenu li:hover a {
    background-color: var(--main-color);
}

nav ul.submenu {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    display: none;
}

/* slide */
.slidecontainer {
    height: 300px;
}

.slidewrap {
    width: 100%;
    height: 100%;
    position: relative;
}

/* fadein, fadeout */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

.slide.on {
    display: block;
}

.slide img {
    width: 100%;
}

.slide .summary {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    background: rgba(255, 255, 255, .3);
    padding: 10px 20px;
    border-radius: 10px;
}

.slide .summary h2 {
    border-bottom: 1px solid #ffffff;
    padding: 5px;
    text-align: right;
}

/* contents */
.contents {
    height: 200px;
}

.contents>div {
    width: 33.33%;
}

/* tab */
.tabmenu li.on a {
    background: var(--main-color);
    color: white;
}

.tabmenu li {
    background: #eee;
}

.tabmenu li a {
    display: block;
    padding: 10px 20px;
}

.tabcontents {
    height: calc(100% - 41px);
    position: relative;

}

.tab {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    display: none;
    padding: 10px;
}

.tab.on {
    display: block;
}

/* notice */
.notice li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.notice li:hover {
    background: #570152;
    color: white;
}
.notice li a {
    display: block;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* banner, link */
.banner,
.link {
    position: relative;
}

.banner figcaption,
.link figcaption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #070707;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.gallery ul {
    height: 100%;
    gap: 10px;
}

/* footer */
footer {
    height: 100px;
}

/* popup */
.popup {
    position: absolute;
    width: 40%;
    background: rgba(255, 255, 255, .8);
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
}
.popup h3{
text-align: center;
padding: 10px;
border-bottom: 1px solid #070707;
}
a.close{
    position: absolute;
    background: rgba(66, 2, 104, 0.8);
    color: white;
    padding: 10px 20px ;
    right: 0;top: -43px;
    border-radius: 10px;
}