/* css 변수 설정 */
:root {
    --body-bg-color: #fff;
    --body-font-color: #333;
    --main-color: #bdeafc;
    --sub-color: #aefde6;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-font-color);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

.flex {
    display: flex;
}

.alignitem {
    align-items: center;
}

.justc {
    justify-content: space-between;
}

.wrap {
    width: 1200px;
    margin: auto;
}

/* header */
h1 {
    width: 200px;
    height: 20px;
}

nav {
    width: 60%;
    border: 1px solid #000;
}

header {
    height: 100px;
}

li.mainmenu {
    flex: 1;
    position: relative;
}

li.mainmenu a {
    display: block;
    text-align: center;
}

li.mainmenu>a {
    padding: 10px;
}

li.mainmenu:not(:last-child)>a {
    border-right: 1px solid #000;
}

li.mainmenu:hover>a {
    background: var(--main-color);
    color: #fff;
}

ul.submenu {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 999;
    display: none;
    background: rgb(248, 241, 208);
}

ul.submenu li a {
    padding: 5px;
}

ul.submenu li:hover a {
    background: var(--sub-color);
}

/* li.mainmenu:hover ul.submenu{
    display: block;
} */

/* slide */
.slide-container {
    max-width: 1200px;
    height: 300px;
    overflow: hidden;
}


.slide {
    position: relative;
}

.slide h2 {
    position: absolute;
    z-index: 99;
    right: 0%;
    top: 5%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 20px;
    border-radius: 99px;
}

/* contents */
.contents {
    height: 200px;
    padding: 10px 0;
}

.tablist {
    width: 33%;
}

.banner {
    width: 33%;
    height: 200px;
    position: relative;
}

.banner figcaption {
    position: absolute;
    z-index: 99;
    right: 15%;
    top: 10px;
    transform: translateX(50%);
    color: white;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 20px;
    border-radius: 99px;
}

.shortcut {
    width: 33%;
    height: 200px;
    position: relative;
}

.shortcut figcaption {
    position: absolute;
    z-index: 99;
    right: 15%;
    top: 10px;
    transform: translateX(50%);
    color: white;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 20px;
    border-radius: 99px;
}

/* tab */
.tablist {
    width: 33%;
}

.banner {
    width: 33%;
}

.shortcut {
    width: 33%;
}

.tabmenu {
    background-color: rgb(221, 213, 177);
}

.tabmenu li.on a {
    background: var(--main-color);
    color: #fff;
}

.tabmenu li {
    text-align: center;
}

.tabmenu a {
    display: block;
    padding: 10px;
    color: #fff;
}

.tabs {
    position: relative;
    height: calc(200px - 42px);
}

.tab {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
}

.tab.on {
    display: block;
}


.notice li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.notice li:hover {
    background: var(--sub-color);
}

.gallery ul {
    border: 1px solid #89e3fa;
    gap: 6px;
    height: 155px;
    align-items: center;
}

.gallery ul li img {
    width: 100%;
}

figure img {
    width: 100%;
    vertical-align: top;
}

/* footer */
footer {
    height: 100px;
}

.flogo {
    width: 200px;
    align-self: center;
}

.copyright {
    flex: 1;
    border-right: 1px dotted #000;
}

.sns {
    width: 200px;
    gap: 8px;
    justify-content: center;
    align-self: center;
}

.sns li img {
    width: 42px;
}

/* 팝업 */
.modalbox {
    display: none;
}