@charset "UTF-8";
:root{
    --body-bg-color:#ffffff;
    --body-font-color:#333333;
    --main-color:rgb(178, 243, 252);
    --sub-color:rgb(187, 253, 231);
}
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit
}
li{
    list-style: none;
}
img{
    vertical-align: top;
    
}
.flex{
    display: flex;
}
.justb{
    justify-content: space-between;
}
.justc{
    justify-content: center;
}
.alinec{
    align-items: center;
}

/* header */
.header-inner{
    max-width: 1200px;
    margin: auto;
    height: 100px;
    position: relative;
}

nav{
    width: 60%;
    align-self: flex-end;
}
nav a{
    display: block;
}

nav li.mainmenu{
    position: relative;
    flex: 1;
    text-align: center;
    color: rgb(2, 33, 99);
}

nav li.mainmenu>a{
    padding: 10px;
}

nav li.mainmenu:hover>a{
    background: var(--main-color);
    font-weight: bold;
}

nav ul.submenu a{
    padding: 5px;
}

nav ul.submenu li:hover a{
    background: #ffffff;
    font-weight: bold;
}

nav ul.submenu{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 5;
    display: none;
}

.header-inner::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 0;
    width: 100%;
    background: rgb(162, 227, 247);
    transition: .4s;
    z-index: 3;
}
.header-inner.on::after{
    height: 130px;
}

header{
    margin-bottom: 15px;
    border-bottom: 1px solid #9e9e9e;
}





/* slidecontainer */
.slide-container{
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: 300px;
    overflow: hidden;
}
.slidewarp{
    position: relative;

    height: 300px;
}
.slide{
    position: relative;
}
.summary{
    position: absolute;
    left: 5%; top: 20%;
    background: rgba(181, 250, 244, 0.8);
    padding: 20px 30px;
    border-radius: 10px;
    color: rgb(1, 68, 63);
}


/* container */
.container{
    max-width: 1200px;
    margin: auto;
    height: 200px;
    margin-top: 10px;
}
.container>div{
    width: 33%;
}

.notice ul, .gallery ul{
    background: var(--main-color);
    padding: 10px;
    overflow: hidden;
    height: calc(200px - 31px);
    border-radius: 5px;
}

.notice h2, .gallery h2{
    display: inline-block;
    background: var(--main-color);
    font-size: 16px;
    color: rgb(1, 68, 63);
    padding: 5px 15px;
    margin-left: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.notice li{
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.notice li a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 75%;
}
.notice li:hover a{
    color: rgb(0, 49, 121);
    font-weight: bold;
}

.gallery ul{
    gap: 7px;
    height: calc(200px - 32px);
}

.gallery img{
    border-radius: 5px;
    width: 100%;
} 

.banner{
    position: relative;

}
.banner img{
    border-radius: 10px;
    width: 100%;
}
.banner figcaption{
    position: absolute;
    right: 7%;
    top: 10%;
    color: white;
}

/* footer */
footer{
    margin-top: 15px;
    border-top: 1px solid #9e9e9e;
}


.footer-inner{
    max-width: 1200px;
    margin: auto;
    height: 100px;
}
.bottommenu ul{gap: 20px;}

.bottommenu{
    width: 70%;
    flex-direction: column;
    line-height: 2;
}



.familysite input[type]{
    background: var(--main-color);
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.familysite input[list]{
    padding: 5px;
}

/* popup */
.popup{
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(225, 252, 249, 0.9);
    padding: 30px 40px;
    border-radius: 10px;
    display: none;
}
a.close{
    position: absolute;
    right: 0;
    bottom: -45px;
    background: rgba(1, 66, 59, 0.9);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}
