:root{
	--main--color:rgb(172, 221, 253);
	--sub--color:rgb(185, 250, 239);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
img{
	vertical-align: top;
}
.flex{
	display: flex;
}
.justb{justify-content: space-between;}
.justc{
	justify-content: center;
}
.alinec{
	align-items: center;
}


/* header */
header{
	width: 200px;
}
nav{
	width: 80%;
	margin: 30px auto;
	text-align: center;
}
nav a{
	display: block;
}
nav ul li.main_menu>a{
	padding: 10px;
	color: rgb(2, 95, 156);
	border-bottom: 1px solid rgb(2, 95, 156);
}

nav ul li.main_menu:hover>a{
	font-weight: bold;
	color: rgb(3, 253, 128);
}

nav ul li ul.sub_menu li a{
	padding: 7px;
	color: rgb(2, 131, 136);
}
nav ul li ul.sub_menu:hover li a{
	font-weight: bold;
	color: blue;
	background-color: var(--main--color);
}


/* main */
main{
	width: calc(100% - 200px);
}

/* slide_container */
.slide_container{
	width: 100%;
	height: 400px;
}



/* banner */
.banner{
	width: 100%;
	height: 200px;
}


/* container */
.container{
	width: 100%;
	height: 250px;
}





/* footer */
footer{
	width: 100%;
	height: 120px;
}