@charset "UTF-8";

body {
    background-color: #ffffff;
    color: #333333;
}

:root {
    --main-color: rgb(255, 220, 217);
    --sub-color: rgb(252, 226, 193);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

.flex {
    display: flex;
}

.justb {
    justify-content: space-between;
}

.justc {
    justify-content: center;
}

.alinec {
    align-items: center;
}

html,
body {
    height: 100%;
}

.wrap {
    flex-wrap: wrap;
    height: calc(100% - 120px);
}


/* header */
header {
    width: 200px;
    position: relative;
}

nav {
    width: 80%;
    margin: 30px auto;
}

nav a {
    display: block;
    text-align: center;
}

nav li.main_menu>a {
    padding: 10px;
    color: rgb(77, 1, 1);
    border-bottom: 1px solid rgb(77, 1, 1);
}

nav li.main_menu:hover>a {
    background: var(--main-color);
    font-weight: bold;
}

nav ul.sub_menu a {
    padding: 6px;
    color: rgb(77, 42, 1);
}

nav ul.sub_menu li:hover a {
    background: var(--sub-color);
    font-weight: bold;
}

nav ul.sub_menu {
    display: none;
}

.spot_menu {
    width: 100%;
    margin: auto;
    position: absolute;
    left: 10%;
    top: 60%;
}
.spot_menu ul{
    gap: 10px;
    text-align: center;
}
.spot_menu li{
    border: 1px solid rgb(77, 42, 1);
    color: rgb(77, 42, 1);
    padding: 5px 10px;
}




/* container */
.container {
    width: 400px;
    height: 100%;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 20%;
    align-items: center;
}

.banner a.img {
    width: 100%;
    height: 100%;
}

.banner img.arrow {
    width: 30px;
    height: 30px;
}

.banner_text {
    color: rgb(77, 1, 1);
    padding: 0 10px;
}

.banner_text h3 {
    border-bottom: 1px solid rgb(77, 1, 1);
    padding-bottom: 7px;
}

.notice {
    width: 100%;
    height: 25%;
}

.notice h4,
.gallery h4 {
    display: inline-block;
    padding: 10px;
    background: var(--main-color);
    color: rgb(77, 1, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 84px;
    text-align: center;
}

.notice li {

    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 1px solid rgb(77, 1, 1);
    color: rgb(97, 23, 1);
}

.notice li a {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice li:nth-child(1) {
    border-top: 1px solid rgb(77, 1, 1);
}


.notice li:hover {
    background: var(--main-color);
    font-weight: bold;
}

.gallery {
    width: 100%;
    height: 35%;
    overflow: hidden;

}

.gallery ul {
    background: var(--main-color);
    height: calc(100% - 41px);
}

.gallery li {
    padding: 7px;
    width: 48%;
}

.gallary figure {
    width: 100%;
}

.gallery img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gallery figcaption {

    padding-top: 5px;
    text-align: center;
}

.link {
    margin-top: 10px;
    width: 100%;
    height: 20%;
    background: var(--sub-color);
}

.link ul {
    gap: 10px;
    padding-top: 15px;
    color: rgb(92, 42, 2);
}
.link li{
    padding: 7px;
}
.link figure {
    width: 100%;
}

.link img {
    width: 100%;
    border-radius: 5px;
}

.link figcaption {
    text-align: center;
    padding-top: 5px;
}

/* slide_container */
.slide_container {
    width: calc(100% - 600px);
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide_wrap {
    width: 300%;
    height: 100%;
    position: relative;
}

.slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide_1 {
    background-image: url(../image/slide\ 1.jpg);
}

.slide_2 {
    background-image: url(../image/slide\ 2.jpg);
}

.slide_3 {
    background-image: url(../image/slide\ 3.jpg);
}

.summary {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0%;
    height: 15%;
    background: rgba(77, 1, 24, 0.5);
    color: #ffffff;
    padding: 20px 40px;
}


/* footer */
footer {
    width: 100%;
    height: 120px;
}

.foot_box {
    width: calc(100% - 200px);
padding-left: 20px;
}

.foot_list {
    width: 100%;
}

.foot_list ul {

    gap: 15px;
    padding-bottom: 10px;
}

/* popup_back */
.popup_back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(7, 0, 4, 0.7);
    display: none;
}

.popup{
    position: absolute;
    width: 41%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(253, 208, 234, 0.9);
    color: rgb(77, 1, 24);
    padding: 30px 40px;
    border-radius: 10px;
}
.popup h5{
    font-size: 17px;
    padding-bottom: 10px;
    text-align: center;
}
a.close{
    position: absolute;
    background: rgb(77, 1, 24);
    color: #ffffff;
    padding: 10px 20px;
    right: 0; bottom: -45px;
    border-radius: 10px;
}