@charset "UTF-8";

:root {
    --body-bg-color: #ffffff;
    --body-font-color: #333333;
    --main-color: rgb(146, 193, 247);
    --sub-color: rgb(199, 172, 221);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

.flex {
    display: flex;
}

.justb {
    justify-content: space-between;
}

.justc {
    justify-content: center;
}

.alinec {
    align-items: center;
}

.wrap {
    max-width: 1200px;
    margin: auto;
}
/* header */
header {
    height: 100px;
    align-items: center;
}

.inner {
    height: 100px;
}
/* nav */
nav {
    width: 60%;
    align-self: self-end;
}

nav a {
    display: block;
}

nav li.mainmenu {
    flex: 1;
    text-align: center;
    position: relative;
}

nav li.mainmenu>a {
    padding: 10px;
}

nav li.mainmenu:hover>a {
    background: var(--main-color);
}

nav ul.submenu a {
    padding: 5px;
}

nav ul.submenu {
    position: absolute;
    width: 100%;
    height: 124px;
    display: none;
    z-index: 20;
    background-color: rgb(250, 253, 189);
}

nav ul.submenu li:hover a {
    background: rgb(196, 213, 233);
}

.slidecontainer {
    height: 300px;
    overflow: hidden;
}
/* slide */
.slidewrap {
    position: relative;
    height: 100px;
}

.summary {
    position: absolute;
    right: 5%;
    top: 15%;
    background: rgba(170, 207, 250, 0.8);
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    z-index: 15;
}
/* container */
.container {
    height: 200px;
    margin-top: 10px;
}
.container>div{
    width: 33%;
}
/* notice */
.notice {
    background: var(--sub-color);
    padding: 10px;
    border-radius: 10px;
}
.notice li {
    display: flex;
    justify-content: space-between;
}

.notice li a {
    display: block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 13px;
}
.notice li:hover{
    color: rgb(84, 3, 150);
    font-weight: bold;
}
.notice h4{
    padding-bottom: 10px;
}
/* gallery */
.gallery{
    background: var(--sub-color);
    padding: 10px;
    border-radius: 10px;
}
.gallery h4{
    padding-bottom: 5px;
}
.gallery ul{
    gap: 10px;
}
.gallery img {
    border-radius: 5px;
    width: 100%;
}
.link{
    position: relative;
}
.link img{
    border-radius: 10px;
}
.link a{
    position: absolute;
    right: 5%; top: 5%;
    background: rgba(164, 199, 231, 0.8);
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}

footer{
    height: 100px;
}

.Copyright{
    width: 80%;
    text-align: center;
}
.sns ul{
    gap: 15px;
    font-size: 25px;
    color: var(--main-color);
    justify-content: flex-end;
    padding-bottom: 5px;
}


.familysite input[list]{
    padding: 3px 0;
}
.familysite input[type]{
    background: var(--main-color);
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
}

/* popup */
.popup{
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(241, 229, 250, 0.9);
    padding: 20px 30px; 
    border-radius: 10px;
    display: none;
}
a.close{
    position: absolute;
    right: 0; top: -45px;
    background-color: rgba(74, 2, 129, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}